<section class="page__section b-contacts" id="contacts">
            <header class="page__header">
                <h4 class="g-title">Contact us</h4>
                <p>Tell us more about your business challenges and we will immediately get in touch with you.</p>
            </header>
            <div class="g-container">
                <div class="g-container__inner">

                    <div class="b-contacts__row">
                        <!--contacts info-->
                        <div class="b-contacts__col">
                            <span class="b-contacts__title">Copler office</span>
                            <dl class="b-contacts__list">
                                <dt>Address:</dt>
                                <dd>4-a Verkhniy Val, Kyiv, Ukraine, 04071</dd>
                            </dl>
                            <dl class="b-contacts__list">
                                <dt>Email:</dt>
                                <dd><a href="mailto:info@copler.uk">info@copler.uk</a></dd>
                            </dl>
                            <dl class="b-contacts__list">
                                <dt>Tel UA:</dt>
                                <dd>+38 (044) 364 79 95</dd>
                                <dt>Tel UK:</dt>
                                <dd>+44 2034 554 189</dd>
                                <dt>Tel US:</dt>
                                <dd>+1 718 509 3086</dd>
                            </dl>
                            <button type="button" class="g-btn" data-modal="#callback">Request Call-back</button>
                        </div>
                        <!--/contacts info-->

                        <div class="b-contacts__col b-contacts__col--thin">
                            <figure class="b-contacts__divider">
                                <div>OR</div>
                                <svg height="25.015" width="70" version="1.1">
                                    <g transform="matrix(1.25 0 0 -1.25 0 25.015)">
                                        <g fill="#afafaf">
                                            <path d="m54.538 9.4501h-18.55v1.1118h18.55v-1.1118z" />
                                            <path d="m36.544 9.4501h-18.55v1.1118h18.55v-1.1118z" />
                                            <path d="m0 9.4501h18.55v1.1118h-18.55v-1.1118z" />
                                            <g transform="matrix(.55589 0 0 .55589 45.996 20.012)">
                                                <path d="m0 0-1.623-1.624 16.377-16.376-16.377-16.376 1.623-1.624 17.996 17.996-0.003 0.004 0.003 0.004-17.996 17.996z" fill="#afafaf" />
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                <figcaption>
                                    If you would like to obtain more information please complete the form
                                </figcaption>
                            </figure>
                        </div>

                        <!--contacts form-->
                        <div class="b-contacts__col">
                            <form id="c_form" class="js-form-validate">
                                <div class="g-validate">
                                    <label class="g-visuallyhidden" for="c_name">Name</label>
                                    <div class="g-validate__inner g-validate__inner--has-icon">
                                        <input type="text" class="g-input" id="c_name" name="c_name" placeholder="Your name*" required />
                                    </div>
                                </div>
                                <div class="g-validate">
                                    <label class="g-visuallyhidden" for="c_mail">Email</label>
                                    <div class="g-validate__inner g-validate__inner--has-icon">
                                        <input type="text" class="g-input" id="c_mail" name="c_mail" placeholder="Business email*" required />
                                    </div>
                                </div>
                                <div class="g-novalidate">
                                    <label class="g-visuallyhidden" for="c_company">Company</label>
                                    <input type="text" class="g-input" id="c_company" name="c_company" placeholder="Company" />
                                </div>
                                <div class="g-novalidate">
                                    <label class="g-visuallyhidden" for="c_phone">Phone</label>
                                    <input type="text" class="g-input" id="c_phone" name="c_phone" placeholder="Business phone" />
                                </div>
                                <div class="g-validate">
                                    <label class="g-visuallyhidden" for="c_query">Your query</label>
                                    <div class="g-validate__inner">
                                        <textarea class="g-textarea" id="c_query" name="c_query" placeholder="Your query*" required></textarea>
                                    </div>
                                </div>
                                <button type="submit" class="g-btn">Submit a request</button>
                            </form>
                        </div>
                        <!--/contacts form-->
                    </div><!--/b-contacts__row-->
                </div>
            </div>

            <div class="b-contacts__map" id="map"></div>

            <!--true footer-->
            <footer class="page__footer">
                <div class="g-container">
                    <nav class="g-container__inner">
                        <div class="g-row">
                            <div class="p-footer__column">
                                <span class="p-footer__title">Services</span>
                                <ul class="p-menu">
                                    <li class="p-menu__item">
                                        <a href="inner1.html" class="p-menu__link">BPO & Technical Support</a>
                                    </li>
                                    <li class="p-menu__item">
                                        <a href="inner2.html" class="p-menu__link">Offshore Development Center</a>
                                    </li>
                                    <li class="p-menu__item">
                                        <a href="inner3.html" class="p-menu__link">Recruitment Process Outsoucing</a>
                                    </li>
                                </ul>
                                <span class="p-footer__title">Careers</span>
                            </div>
                            <div class="p-footer__column">
                                <span class="p-footer__title">Who we are</span>
                                <ul class="p-menu">
                                    <li class="p-menu__item">
                                        <a href="#who-we-are" class="p-menu__link" data-scroll-link>About us</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="p-footer__column">
                                <span class="p-footer__title">What we do</span>
                                <ul class="p-menu">
                                    <li class="p-menu__item">
                                        <a href="#what-we-do" class="p-menu__link" data-scroll-link>Values</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="p-footer__column">
                                <span class="p-footer__title">Contact us</span>
                                <ul class="p-menu">
                                    <li class="p-menu__item">
                                        <a href="#contacts" class="p-menu__link" data-scroll-link>Contact us</a>
                                    </li>
                                </ul>

                                <span class="p-footer__title">Follow us</span>
                                <ul class="p-social">
                                    <li class="p-social__item">
                                        <a href="#" rel="nofollow" target="_blank" class="p-menu__link">
                                            <i class="icon-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="p-social__item">
                                        <a href="#" rel="nofollow" target="_blank" class="p-menu__link">
                                            <i class="icon-linkedin"></i>
                                        </a>
                                    </li>
                                    <li class="p-social__item">
                                        <a href="#" rel="nofollow" target="_blank" class="p-menu__link">
                                            <i class="icon-slideshare"></i>
                                        </a>
                                    </li>
                                    <li class="p-social__item">
                                        <a href="#" rel="nofollow" target="_blank" class="p-menu__link">
                                            <i class="icon-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="p-social__item">
                                        <a href="#" rel="nofollow" target="_blank" class="p-menu__link">
                                            <i class="icon-youtube"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div><!--/g-row-->
                        <div class="g-row">
                            <div class="p-footer__column p-footer__column--wide">
                                <span class="p-footer__copyright">© 2016 by Copler. All Rights Reserved</span>
                            </div>
                            <div class="p-footer__column">
                                <a href="#" class="p-footer__link">Privacy polycy</a>
                            </div>
                            <div class="p-footer__column">
                                <a href="#" class="p-footer__link">Terms & Conditions</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </footer>
            <!--/true footer-->
        </section>
        <!--/contact us-->