<footer class="b-footer visible">
        <div class="b-footer__inner">
            <div class="g-container">
                <ul class="f-action">
                    <li class="f-action__item">
                        <button type="button" class="f-action__btn" data-modal="#callback">
                            <i class="icon-phone"></i>
                            <span class="f-action__title f-action__title--border">044 364 79 95</span>
                        </button>
                    </li>
                    <li class="f-action__item">
                        <button type="button" class="f-action__btn" data-modal="#expert">
                            <i class="icon-mail"></i>
                            <span class="f-action__title">Contact a Sales Expert</span>
                        </button>
                    </li>
                    <li class="f-action__item">
                        <button type="button" class="f-action__btn">
                            <i class="icon-chat"></i>
                            <span class="f-action__title">Live chat (online)</span>
                        </button>
                    </li>
                    <li class="f-action__item">
                        <div class="f-action__wrapper">
                            <button type="button" class="f-action__btn f-action__btn--last" data-modal="#expert">Have a question?</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <!--/sticky footer-->