<header class="b-header visible">
        <div class="b-header__wrapper">
            <div class="b-header__container">
                <nav class="b-header__inner">
                    <a href="#about-us" class="b-header__logo">Copler</a>
                    <ul class="h-menu">
                        <li class="h-menu__item">
                            <a href="#services" class="h-menu__link">Services</a>
                        </li>
                        <li class="h-menu__item">
                            <a href="#who-we-are" class="h-menu__link">Who we are</a>
                        </li>
                        <li class="h-menu__item">
                            <a href="#what-we-do" class="h-menu__link">What we do</a>
                        </li>
                        <li class="h-menu__item">
                            <a href="#careers" class="h-menu__link">Careers</a>
                        </li>
                        <li class="h-menu__item">
                            <a href="#contacts" class="h-menu__link">Contact us</a>
                        </li>
                    </ul>
                    <button type="button" class="b-header__call" data-modal="#callback"><i class="icon-telephone"></i></button>
                </nav>
            </div>
        </div>
        <label class="b-header__label">Scroll »</label>
    </header>
    <!--/header-->