<!--callback-->
            <form class="box-modal js-form-validate" id="callback">
                <div class="box-modal_close arcticmodal-close">
                    <i class="icon-cancel"></i>
                </div>
                <div class="box-modal__inner">
                    <span class="box-modal__title">Request a callback</span>
                    <div class="g-validate">
                        <label class="g-visuallyhidden">Your name</label>
                        <div class="g-validate__inner">
                            <input type="text" class="g-input" id="clbc_name" name="clbc_name" placeholder="Your name*" required />
                        </div>
                    </div>
                    <div class="g-validate">
                        <label class="g-visuallyhidden">Your phone</label>
                        <div class="g-validate__inner">
                            <input type="text" class="g-input" id="clbc_phone" name="clbc_phone" placeholder="Business phone number*" required />
                        </div>
                    </div>
                    <div class="g-text-center">
                        <button type="submit" class="g-btn">Create request</button>
                    </div>
                </div>
            </form>
            <!--/callback-->

            <!--contact a Sales Expert-->
            <form class="box-modal js-form-validate" id="expert">
                <div class="box-modal_close arcticmodal-close">
                    <i class="icon-cancel"></i>
                </div>
                <div class="box-modal__inner">
                    <span class="box-modal__title">Contact a sales expert</span>
                    <div class="g-validate">
                        <label class="g-visuallyhidden">Your name</label>
                        <div class="g-validate__inner">
                            <input type="text" class="g-input" id="exp_name" name="exp_name" placeholder="Your name*" required />
                        </div>
                    </div>
                    <div class="g-validate">
                        <label class="g-visuallyhidden">Your email</label>
                        <div class="g-validate__inner">
                            <input type="text" class="g-input" id="exp_mail" name="exp_mail" placeholder="Business email*" required />
                        </div>
                    </div>
                    <div class="g-validate">
                        <label class="g-visuallyhidden">Your phone</label>
                        <div class="g-validate__inner">
                            <input type="text" class="g-input" id="exp_phone" name="exp_phone" placeholder="Business phone number" />
                        </div>
                    </div>
                    <div class="g-validate">
                        <label class="g-visuallyhidden">Company</label>
                        <div class="g-validate__inner">
                            <input type="text" class="g-input" id="exp_company" name="exp_company" placeholder="Company" />
                        </div>
                    </div>
                    <div class="g-validate">
                        <label class="g-visuallyhidden">Your question</label>
                        <div class="g-validate__inner">
                            <textarea class="g-textarea" id="exp_msg" name="exp_msg" placeholder="Your question*" required></textarea>
                        </div>
                    </div>
                    <div class="g-text-center">
                        <button type="submit" class="g-btn g-btn--wide">Submit</button>
                    </div>
                </div>
            </form>
            <!--/contact a Sales Expert-->

            <!--thank you-->
            <div class="box-modal box-modal--thin" id="thankyou">
                <div class="box-modal_close arcticmodal-close">
                    <i class="icon-cancel"></i>
                </div>
                <div class="box-modal__inner g-text-center">
                    <span class="box-modal__title"><img src="img/head.svg" alt="Thank you" /> Thank you!</span>
                    <p>
                        We've received your submission<br />
                        and a representative will be in touch with you soon
                    </p>
                </div>
            </div>
            <!--/thank you-->