<nav class="b-pager">
            <ul class="b-pager__list">
                <li class="b-pager__item">
                    <a href="#about-us" class="b-pager__link">01</a>
                </li>
                <li class="b-pager__item">
                    <a href="#looking" class="b-pager__link">02</a>
                </li>
                <li class="b-pager__item">
                    <a href="#services" class="b-pager__link">03</a>
                </li>
                <li class="b-pager__item">
                    <a href="#who-we-are" class="b-pager__link">04</a>
                </li>
                <li class="b-pager__item">
                    <a href="#what-we-do" class="b-pager__link">05</a>
                </li>
                <li class="b-pager__item">
                    <a href="#careers" class="b-pager__link">06</a>
                </li>
                <li class="b-pager__item">
                    <a href="#contacts" class="b-pager__link">07</a>
                </li>
            </ul>
        </nav>
        <!--/pager-->