@import "../../../modules/_base.scss";
/*Download link's list*/

$b-load-color:#f0f1f1;

.b-load{
    @extend .g-clearlist;
    @extend .g-clearfix;
}

.b-load__item{
    @extend .g-column;

    @include media($small){
        @include span-columns(6);
        @include omega(2n);
    }
}

.b-load__link{
    display:block;
    padding:3px;
    width:100%;
    max-width:306px;
    margin:$project-line-height auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    @extend .g-shadow-hover;
    background:#fff;
    box-sizing:border-box;
    font-family:$font-medium;
    color:$text-color;
    text-decoration:none;
    text-align:center;
    line-height:1;

    &:hover{
        .b-load__inner{
            border-color:$primary;
        }

        .b-load__header{
            background-color:$primary;
        }
        .b-load__name{
            color:#fff;
        }
        .b-load__thumb{
            &:after{
                top:3px;
                left:3px;
                right:3px;
                bottom:3px;
            }
        }
        .b-load__icon{
            transform:translateY(5px);
        }
    }
}

.b-load__inner{
    margin:0;
    border:1px solid $b-load-color;
    @extend .g-transition;
    transition-property:border-color;
}

.b-load__header{
    height:178px;
    padding:8px;
    background-color:$b-load-color;
    box-sizing:border-box;
    @extend .g-transition;
    transition-property:background-color;
}

.b-load__title{
    width:100%;
    height:38px;
    overflow:hidden;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    align-content:center;
    line-height:1.1;
}
.b-load__name{
    font-size:rem(20px);
    color:$primary;
    text-transform:uppercase;
    @extend .g-transition;
    transition-property:color;
}

.b-load__thumb{
    @include size(100px);
    margin:8px auto;
    background:#fff;
    border-radius:50%;
    position:relative;

    &:after{
        content:'';
        position:absolute;
        top:0; left:0; right:0; bottom:0;
        border:2px solid $primary;
        border-radius:50%;
        @extend .g-transition;
        transition-property:top, left, right, bottom;
        transition-timing-function:linear;
    }
}

.b-load__img{
    @extend .b-list__img;
    .st1{
        fill:$primary;
    }
    .st2{
        stroke:$primary;
    }
}

.b-load__entry{
    padding:8px;
}

.b-load__subtitle{
    @extend .b-load__title;
    height:78px;
    margin-bottom:$project-line-height/2;
    line-height:1.2;
    font-size:rem(14px);
    text-transform:uppercase;

    p{
        margin:0;
    }
}

.b-load__icon{
    display:block;
    @include size(24px);
    line-height:24px;
    margin:0 auto $project-line-height/2;
    border-radius:50%;
    background:$primary;
    font-size:rem(12px);
    color:#fff;
    @extend .g-transition;
    transition-property:transform;
}

.b-load__filename{
    display:block;
    margin-bottom:$project-line-height/2;
    font-size:rem(14px);
    @extend .g-nowrap;
    overflow:hidden;
}

.b-load__info{
    @extend .b-load__subtitle;
    height:150px;
    margin-bottom:0;
    line-height:1;
    text-transform:none;
    font-size:rem(16px);
    font-family:$font-regular;
}