@import "../../modules/_base.scss";
/*Hover-blocks*/
.b-hover{
    max-width:440px;
    margin:30px auto;
    position:relative;
    box-sizing:border-box;
}

.b-hover__title{
    display:block;
    width:190px;
    margin:0 auto 30px;
    color:$title-color;
    font-size:rem(24px);
    line-height:1.2;
    text-align:center;
}

.b-hover__list{
    @extend .g-clearlist;
}

.b-hover__item{
    display:block;
}

.b-hover__inner{
    margin-bottom:45px;
    box-sizing:border-box;

    &:hover{
        .b-hover__thumb{
            border-color:$primary;
        }
        .b-hover__img{
            .st1{
                fill:$primary;
            }
        }
    }
}

.b-hover__thumb{
    @extend .b-list__icon;
    @include size(106px);
}

.b-hover__img{
    @extend .b-icon__img;
}

.b-hover__entry{
    font-size:rem(24px);
    text-align:center;
    text-transform:uppercase;
    line-height:1.1;
    box-sizing:border-box;
}

.b-hover__caption{
    display:block;
    max-width:280px;
    margin:0 auto;
}


@include media($large){
    .b-hover{
        height:210px;
        margin:50px auto 100px;
        border-bottom-left-radius:260px;
        border-bottom-right-radius:260px;
        border:2px dashed $primary;
        border-top:none;
    }

    .b-hover__title{
        padding-top:20px;
    }

    .b-hover__inner{
        margin:0;
        width:340px;
        height:112px;
        padding:3px;
        position:relative;

        &:hover,
        &.b-hover__inner--alt{
            background:#fff;
            box-shadow:0 0 1px 1px rgba(#000, .1), 0 3px 4px 3px rgba(#000, .12);

            .b-hover__entry{
                visibility:visible;
            }
        }

        &.b-hover__inner--alt{
            .b-hover__thumb{
                border-color:$primary;
            }
            .b-hover__img .st1{
                fill:$primary;
            }
        }
    }

    .b-hover__thumb{
        position:absolute;
        top:3px;
        z-index:1;
        cursor:pointer;
    }

    .b-hover__entry{
        height:100%;
        background:$primary;
        color:#fff;
        position:relative;
        visibility:hidden;
    }

    .b-hover__caption{
        position:relative;
        top:50%;
        transform:translateY(-50%);
    }

    .b-hover__item{
        position:absolute;
        left:50%;

        &:nth-child(1){
            top:-10px;
            margin-left:-500px;
        }

        &:nth-child(2){
            top:150px;
            margin-left:-380px;
        }
        &:nth-child(1),
        &:nth-child(2){
            .b-hover__inner{
                border-top-right-radius:56px;
                border-bottom-right-radius:56px;
            }
            .b-hover__thumb{
                right:3px;
            }
            .b-hover__entry{
                margin-right:53px;
                padding:0 63px 0 10px;
            }
        }

        &:nth-child(3){
            top:150px;
            margin-left:40px;
        }

        &:nth-child(4){
            top:-10px;
            margin-left:160px;
        }

        &:nth-child(3),
        &:nth-child(4){
            .b-hover__inner{
                border-top-left-radius:56px;
                border-bottom-left-radius:56px;
            }
            .b-hover__thumb{
                left:3px;
            }
            .b-hover__entry{
                margin-left:53px;
                padding:0 10px 0 63px;
            }
        }
    }
}

@include media($extra-large){
    .b-hover{
        margin:90px auto 150px;
    }
}