@import "../../modules/_base.scss";
/*Tier diagramm*/
.b-tiered{
    max-width:766px;
    margin:0 auto;
    position:relative;
    font-size:0;

    &:before{
        content:'';
        position:absolute;
        top:25px; right:20px; bottom:0; left:0;
        background:url(../img/graph/arrow-chart.svg) 100% 100% no-repeat;
        z-index:1;
        display:none;
    }
}

.b-tiered__panel{
    display:block;
    max-width:260px;
    padding:30px;
    margin:0 auto $project-line-height;
    font-size:$project-line-height;
    background:#fff;
    box-shadow:inset 0 0 1px 1px rgba(#000, .2);
    box-sizing:border-box;

    li{
        z-index:2;
    }
}


.b-tiered__title{
    @extend .g-subtitle;
}

.b-tiered__titles{
    width:100%;
    @extend .g-clearlist;
    display:none;
    line-height:1;
    position:absolute;
    bottom:0; left:0;
    z-index:2;
}

.b-tiered__name{
    float:right;
    clear:right;
    padding:18px;
    font-size:rem(18px);
    color:$title-color;
    box-sizing:border-box;
    text-align:center;
    text-transform:uppercase;
    white-space:nowrap;
    border-top-left-radius:75px;
    border-bottom-left-radius:25px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);

    &:first-child{
        width:1*100%/3 + 4;
        background:$primary;
        color:#fff;     
    }

    &:nth-child(2){
        width:2*100%/3 + 3;
        background:#eee;
    }

    &:last-child{
        width:1*100% +2;
        background:#fff;
    }
}

@include media($desktop){
    .b-tiered{
        &:before{
            display:block;
        }
    }
    .b-tiered__panel{
        display:inline-block;
        vertical-align:bottom;
        width:1*100%/3;
        margin:0;

        &:first-child{
            min-height:325px;
        }

        &:nth-child(2){
            min-height:380px;
        }

        &:nth-child(3){
            min-height:430px;
        }
    }
    .b-tiered__title{
        display:none;
    }

    .b-tiered__titles{
        display:block;
    }
}

@include media($extra-large){
    .b-tiered{
        margin-top:50px;
    }
}