@import "../../modules/_base.scss";
/*Hero Images*/
.b-hero{
    margin:0;
    padding: $project-line-height 0;
}
.b-hero__inner{//для услуги №1 (картинки - hero01....)
    max-width:490px;
    margin:0 auto;
    position:relative;
    overflow:hidden;

    &:after{
        content:'';
        display:block;
        padding-top:310*100%/490;
    }
}

.b-hero__img{
    position:absolute;
    width:100%;
    height:auto;
    left:50%;
    transform:translateX(-50%);
}

.b-hero__img--top{
    top:0;
}
.b-hero__img--bottom{
    bottom:0;
    max-width:220*100%/490;
}

//для услуги №2 (картинки - hero02...)
.b-hero__inner--2{
    max-width:542px;

    &:after{
        padding-top:315*100%/542;
    }

    
    .b-hero__img--bottom{
        max-width:267*100%/542;
    }
}

//для услуги №3 (hero03...)
.b-hero__inner--3{
    max-width:558px;

    &:after{
        padding-top:296*100%/558;
    }

    .b-hero__img--bottom{
        max-width:110*100%/558;
    }
}