@import "../../modules/_base.scss";
/*News slider*/
.b-news{
   padding-bottom:2*$project-line-height;

   .bx-wrapper{
       .bx-pager{
           bottom:-25px;
       }
       .bx-prev{
            left:-10px;
        }
        .bx-next{
            right:-10px;
        }
   }

   @include media($desktop){
       .bx-wrapper{
           .bx-controls-direction a{
               @include size(46px);
               margin-top: -23px;
               line-height:46px;
               font-size:rem(46px);
           }
           .bx-prev{
               left:-50px;
           }
           .bx-next{
               right:-50px;
           }
       }
   }

   @include media($large){
       .bx-wrapper{
           .bx-prev{
               left:-75px;
           }
           .bx-next{
               right:-75px;
           }
       }
   }
}

.b-news__list{
    @extend .g-clearlist;
    @extend .g-clearfix;
}

.b-news__item{
    @extend .g-column;
    padding:10px;//box-shadow
    width:280px;
}
.b-news__inner{
    width:260px;
    padding:3px;
    background:#fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    @extend .g-shadow-hover;
    box-sizing:border-box;

    &:hover{
        .b-news__img{
            opacity:.8;
        }
    }
}

.b-news__thumb{
    display:block;
    position:relative;
    background:$border-color;

    &:after{
        content:'';
        display:block;
        padding-top:75%;
    }
}

.b-news__img{
    @extend .g-img-centered;
    @extend .g-transition;
    transition-property:opacity;
    backface-visibility:hidden;
}

.b-news__entry{
    padding:$project-line-height 2px 0;
    text-align:center;
}

.b-news__title{
    display:block;
    padding-bottom:$project-line-height/2;
    margin-bottom:5px;
    box-sizing:border-box;
    font-size:rem(18px);
    line-height:1.17;
    color:$title-color;
    position:relative;

    &:after{
        content:'';
        display:block;
        position:absolute;
        width:86px;
        height:1px;
        background:$border-color;
        bottom:0;
        left:50%;
        margin-left:-43px;
    }
}

.b-news__date{
    display:block;
    margin-bottom:5px;
    @include font-size(12px);
}
.b-news__quote{
    margin-bottom:$project-line-height;
    font-size:rem(14px);
    line-height:1.5;
    p{
        margin:0;
    }
}

.no-js{
    .b-news{
        max-width:840px;
        margin:0 auto;
    }
    .b-news__list{
        margin:0 -10px;
    }
    .b-news__item{
        margin-right:10px;
        &:nth-child(3n){
            margin-right:0;
        }

        &:nth-child(3n+1){
            clear:left;
        }
    }
}

//иконка (play)
.b-news__icon{
    display:block;
    @include size(66px);
    line-height:66px;
    text-align:center;
    background:rgba(#000, .4);
    color:#fff;
    font-size:rem(24px);
    border-radius:50%;
    @extend .g-align;

    [class^="icon-"], [class*=" icon-"]{
        vertical-align:middle;
    }
}