@import "../../modules/_base.scss";
/*Other page sections*/
.page__section--alt{
    background:$primary;
    color:#fff;
    min-height:100%;

    .g-title, .g-subtitle{
        color:#fff;
    }
}

.page__section--has-bg{
    background-repeat:no-repeat;
    background-position:left bottom;
}

@include media($desktop){
    .page__section--tier{
        background-image:url(../img/bg-tier.png);
    }
}

.b-thumb{
    margin:0;
    padding: $project-line-height 0;
}
.b-thumb__inner{
    max-width:490px;
    margin:0 auto;
    position:relative;

    &:after{
        content:'';
        display:block;
        padding-top:310*100%/490;
    }
}

.b-thumb__img{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    height:auto;

    .st1{
        fill:#fff;
    }
    .st2{
        stroke:#fff;
        fill:none;
    }
}

.b-thumb__img--top{
    top:0;
    width:96%;
}
.b-thumb__img--bottom{
    bottom:0;
    width:220*100%/490;
}

