@import "../../modules/_base.scss";
/*Other page sections*/
.page__section--alt{
    background:$primary;
    color:#fff;
    min-height:100%;

    .g-title, .g-subtitle{
        color:#fff;
    }
}

.page__section--has-slider{
    @extend .page__section--alt;
    position:relative;
    z-index:100;
    max-height:1080px;
    background:#000;
}

.page__section--has-bg{
    background-repeat:no-repeat;
    background-position:left bottom;
}

.page__section--half-alt{
    @extend .page__section--alt;
    padding-bottom:2*$project-line-height;
    min-height:0;
}

.page__spacer{//распорка по высоте
    min-height:70vh;
}

.page__section--unset{//если нужно расположить prefooter в отдельном блоке - см.стр. vacancy.html
    padding: 0;
    min-height:0;
}

@include media($desktop){
    .page__section--tier{
        background-image:url(../img/bg-tier.png);
    }
    .page__section--money{
        background-image:url(../img/bg-money.png);
        background-position:left 85%;
    }
    .page__section--vacancy{
        position:relative;
        z-index:1;

        &:before{//для этой страницы покажем бэкграунд в псевдоэлементе
            content:'';
            display:block;
            width:390px;
            height:560px;
            position:absolute;
            bottom:-40px; left:0;
            background:url(../img/bg-vacancy.png) left bottom no-repeat;
            background-size:cover;
        }
    }
}

@include media($large){
    .page__section--zoom{
        background-image:url(../img/bg-zoom.png);
    }
}

