@import "../../modules/_base.scss";
/*Other page sections*/
.page__section--alt{
    background:$primary;
    color:#fff;
    min-height:100%;

    .g-title, .g-subtitle{
        color:#fff;
    }
}

.page__section--has-slider{
    @extend .page__section--alt;
    position:relative;
    z-index:100;
    max-height:1080px;
    background:#000;
}

.page__section--has-bg{
    background-repeat:no-repeat;
    background-position:left bottom;
}

.page__spacer{//распорка по высоте
    min-height:70vh;
}

@include media($desktop){
    .page__section--tier{
        background-image:url(../img/bg-tier.png);
    }
    .page__section--money{
        background-image:url(../img/bg-money.png);
        background-position:left 85%;
    }
    
}

@include media($large){
    .page__section--zoom{
        background-image:url(../img/bg-zoom.png);
    }
}

