@import "../modules/base";
/*Site Action Footer*/
.b-footer{
    width:100%;
    height:54px;
    position:fixed;
    padding-top:10px;
    left:0; bottom:-54px;
    z-index:1000;
    overflow:hidden;
    @extend .g-transition;
    transition-property:transform;
    will-change:transform;

    &.visible{
        transform:translateY(-54px);
    }
}

.b-footer__inner{//нужен чтобы создать нестандартную кнопку в списке
    width:100%;
    position:absolute;
    bottom:0; left:0;
    height:44px;
    padding:10px 0;
    background:#eee;
    box-sizing:border-box;
}



//статический вариант
.prefooter{
    @extend .b-footer;
    position:relative;
    bottom:0;
}
.prefooter__inner{
    @extend .b-footer__inner;
}


@import "footer/_footer-action-list.scss";//кнопки 
@import "footer/_page-footer.scss"; // true footer в последней секции
