@import "base";
html,
button,
input,
select,
textarea {
    color: $text-color;
}


@include selection{
    background: #b3d4fc;
    text-shadow: none;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

img{
    max-width: 100%;
    height: auto;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/* Base Styles */
html{
    height:100%;
    line-height: 1;
}


.page{//body style
    height:100%;
    font-family: $font-regular, "Helvetica CY", "Nimbus Sans L", sans-serif;
    background:#fafafa url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMAgMAAAArG7R0AAAADFBMVEXu7u7v7+/39/f6+vpg6JLLAAAAFElEQVQI12OY9v8/gyMUg9j/8WMA/nAhj6Aj1y8AAAAASUVORK5CYII=) repeat;
}

/* Typography*/
h1, h2, h3, h4, h5, h6, .g-title, .g-subtitle{
  margin-top: 0;
  margin-bottom: 8px;
  line-height:1.1;
  color:$title-color;
  font-family:$font-medium;
  font-weight:normal;
}
.g-title{
    display:block;
    font-size:rem(32px);
    text-transform:uppercase;
    text-align:center;

    @include media($tablet){
        @include font-size(36px);
    }
}

.g-subtitle{
    display:block;
    @include font-size(24px);
    font-family:$font-regular;
    text-align:center;
}

b, strong{
    font-family:$font-bold;
    font-weight:normal;
}

em, i{
    font-family:$font-italic;
}

.g-brand-color{
    color:$primary;
}

.g-light-text{
    color:#afafaf;
}

.g-big-text{
    @include font-size(16px);
    text-transform:uppercase;
}

/* Links */
a {
  color: $primary; }


/* Lists */
ul {
    list-style: disc outside; }
ol {
    list-style: decimal outside; }
ol, ul {
    margin-top: 0; }

ul ul,
ul ol,
ol ol,
ol ul {
    margin: $project-line-height/2 0 $project-line-height/2 30px;
}

.g-clearlist{
    list-style-type:none;
    margin:0;
    padding:0;
}

.g-styled-list{
    list-style-type:none;
    padding:0;
    margin:0 0 $project-line-height;
    @include font-size(16px);
    line-height:1.5;
    text-align:left;

    li{
        position:relative;
        padding-left:30px;

        &:before{
            content: "\e902";
            font-family:'icomoon';
            font-size:rem(15px);
            position:absolute;
            top:0; left:0;
            color:$primary;
        }
    }
}

.g-circle-list{
    @extend .g-clearlist;

    li{
        padding-left:40px;
        margin:$project-line-height 0;
        position:relative;
        font-size:rem(16px);

        @include media($extra-large){
            font-size:rem(17px);
        }

        &:before{
            content:'';
            @include size(24px);
            border-radius:50%;
            background:$primary;
            position:absolute;
            left:0;
            top:0;
        }

        &:after{
            content:'\e914';
            font-family:'icomoon';
            font-size:rem(10px);
            color:#fff;
            position:absolute;
            top:6px;
            left:11px;
        }
    }
}

/* Blockquote */
blockquote{
    font-size:120%;
    line-height:1.6;
    font-style: normal;
    font-family:$font-italic;
    padding: 0 0 0 30px;
    border-left:2px solid $primary;
}
cite{
    display:block;
    font-size:75%;
}

/* Code */
code {
    padding:2px 5px;
    margin:0 2px;
    font-size: 90%;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid $border-color;
    border-radius:$border-radius;
}
pre > code {
  display: block;
  padding:10px 15px;
  white-space: pre;
}


/* Spacing */
p {
  margin-top: 0; }


pre,
blockquote,
dl,
figure,
fieldset,
table,
p,
ul,
ol{
    margin-bottom: $project-line-height;
}

/* Misc */
hr {
    margin: $project-line-height 0;
    border-width: 0;
    border-top: 1px solid $border-color;
}

/* Transitions */
a, button, input[type="button"], input[type="submit"],
#{$all-text-inputs}, select{
    transition-property:border-color,color,background-color, box-shadow, transform;
    @extend .g-transition;
}

