/* font-family: "ClearSansRegular"; */
@font-face {
    font-family: "ClearSansRegular";
    src: url("../fonts/ClearSansRegular/ClearSansRegular.eot");
    src: url("../fonts/ClearSansRegular/ClearSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ClearSansRegular/ClearSansRegular.woff") format("woff"),
    url("../fonts/ClearSansRegular/ClearSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ClearSansBold"; */
@font-face {
    font-family: "ClearSansBold";
    src: url("../fonts/ClearSansBold/ClearSansBold.eot");
    src: url("../fonts/ClearSansBold/ClearSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ClearSansBold/ClearSansBold.woff") format("woff"),
    url("../fonts/ClearSansBold/ClearSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ClearSansItalic"; */
@font-face {
    font-family: "ClearSansItalic";
    src: url("../fonts/ClearSansItalic/ClearSansItalic.eot");
    src: url("../fonts/ClearSansItalic/ClearSansItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ClearSansItalic/ClearSansItalic.woff") format("woff"),
    url("../fonts/ClearSansItalic/ClearSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "ClearSansMedium"; */
@font-face {
    font-family: "ClearSansMedium";
    src: url("../fonts/ClearSansMedium/ClearSansMedium.eot");
    src: url("../fonts/ClearSansMedium/ClearSansMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ClearSansMedium/ClearSansMedium.woff") format("woff"),
    url("../fonts/ClearSansMedium/ClearSansMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/*Icon font*/
@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon/icomoon.eot?tax7wy');
    src:    url('../fonts/icomoon/icomoon.eot?tax7wy#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.ttf?tax7wy') format('truetype'),
        url('../fonts/icomoon/icomoon.woff?tax7wy') format('woff'),
        url('../fonts/icomoon/icomoon.svg?tax7wy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}



[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 1em;
    margin-right: .2em;
    margin-left: .2em;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-google-plus:before {
  content: "\e91c";
}
.icon-left-arrow:before {
  content: "\e919";
}
.icon-plus:before {
  content: "\e91a";
}
.icon-right-arrow:before {
  content: "\e91b";
}
.icon-radio:before {
  content: "\e917";
}
.icon-quote:before {
  content: "\e918";
}
.icon-check:before {
  content: "\e902";
}
.icon-slim-right:before {
  content: "\e916";
}
.icon-attach:before {
  content: "\e900";
}
.icon-cancel:before {
  content: "\e901";
}
.icon-down:before {
  content: "\e903";
}
.icon-file:before {
  content: "\e904";
}
.icon-ok:before {
  content: "\e905";
}
.icon-up:before {
  content: "\e906";
}
.icon-wrong:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\e908";
}
.icon-linkedin:before {
  content: "\e909";
}
.icon-slideshare:before {
  content: "\e90a";
}
.icon-twitter:before {
  content: "\e90b";
}
.icon-youtube:before {
  content: "\e90c";
}
.icon-chat:before {
  content: "\e90d";
}
.icon-mail:before {
  content: "\e90e";
}
.icon-phone:before {
  content: "\e90f";
}
.icon-telephone:before {
  content: "\e910";
}
.icon-down-circle:before {
  content: "\e911";
}
.icon-instagram:before {
  content: "\e912";
}
.icon-arrow-left:before {
  content: "\e913";
}
.icon-arrow-right:before {
  content: "\e914";
}
.icon-save:before {
  content: "\e915";
}