@import "../../../modules/_base.scss";
/*Partnership section*/
.b-pship{
    @extend .g-container__inner--medium;

    .b-link__thumb{
        @include size(108px);
    }
    .b-link__img{
        width:60px;
    }
    .b-link__entry{
        font-size:rem(21px);
    }
}

.b-pship__list{
    @extend .g-clearlist;
    @extend .g-clearfix;
    position:relative;
    z-index:2;
}

.b-pship__item{
    @extend .g-column;
    @include span-columns(6);
    @include omega(2n);
    position:relative;

    &:before{
        content:'';
        position:absolute;
        width:48px;
        height:10px;
        background:url(../img/graph/arrow.svg) 100% 100% no-repeat;
        top:40px;
        left:0;
        margin-left:-24px;
        transform:translateX(-$grid-gutter);
        display:none;
    }

    &:nth-child(2n){
        &:before{
            display:block;
        }
    }

    &:last-child{
        width:100%;
    }


    @include media($small){
        @include omega-reset(2n);
        @include span-columns(4);
        @include omega(3n);

        &:nth-child(2n){
            &:before{
                display:none;
            }
        }

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(5),
        &:nth-child(6){
            &:before{
                display:block;
            }
        }
    }

    @include media($tablet){
        @include omega-reset(3n);
        width:(100% - 6*$grid-gutter)/7;

        &:nth-child(1){
            padding-top:130px;
        }

        &:nth-child(2){
            padding-top:60px;

            &:before{
                top:110px;
                margin-left:-48px;
                transform:rotate(-30deg);
            }
        }

        &:nth-child(3){
            padding-top:15px;

            &:before{
                top:42px;
                margin-left:-48px;
                transform:rotate(-25deg);
            }
        }

        &:nth-child(4){
            &:before{
                display:block;
                top:10px;
                margin-left:-40px;
                transform:rotate(-10deg);
            }
        }

        &:nth-child(5){
            padding-top:15px;

            &:before{
                top:10px;
                margin-left:-30px;
                transform:rotate(10deg);
            }
        }

        &:nth-child(6){
            padding-top:60px;

            &:before{
                top:42px;
                margin-left:-18px;
                transform:rotate(25deg);
            }
        }

        &:nth-child(7){
            padding-top:130px;
            width:(100% - 6*$grid-gutter)/7;

            &:before{
                display:block;
                margin-left:-18px;
                top:110px;
                transform:rotate(30deg);
            }
        }
    }
}

.b-pship__inner{
    max-width:140px;
    margin:0 auto $project-line-height;
    position:relative;

    &:hover{
        .b-pship__thumb{
            border-color:$primary;
        }
        .b-pship__arrow{
            color:$primary;
        }
        .st1{
            fill:$primary;
        }
        .st2{
            stroke:$primary;
        }
        .b-pship__entry{
            color:$primary;
        }
    }
}
.b-pship__thumb{
    @extend .b-solution__thumb;
    @include size(86px);
    margin-bottom:$project-line-height/2;
}
.b-pship__arrow{
    @extend .b-solution__arrow;

    [class^="icon-"], [class*=" icon-"]{
        margin:0;
    }
}

.b-pship__entry{
    font-size:rem(13px);
    text-transform:uppercase;
    text-align:center;
    @extend .g-transition;
    transition-property:color;
}

.b-pship__img{
    @extend .b-globe__img;
}

@include media($tablet){
    .b-pship__inner{
        margin-bottom:5*$project-line-height;
    }
    .b-pship__entry{
        position:absolute;
        width:140px;
        top:100px;
        left:50%;
        margin-left:-70px;
    }
}





.b-pship__row{
    margin-bottom:$project-line-height;
    @extend .g-clearfix;
    position:relative;
    z-index:1;
}


@include media($desktop){
    .b-pship__row{
        &:before{
            content:'';
            display:block;
            width:387px;
            height:495px;
            position:absolute;
            left:0;
            bottom:0;
            background:url(../img/bg-partnership.png) no-repeat;
            z-index:-1;
        }
    }

    .b-pship__col{
        float:right;
        width:50%;
    }
}